<html>
    <head> 
        <!-- Feito por: Matheus Ferreira Bruno        -->
		<script src="http://unpkg.com/vue@next"></script>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body >
        <div id="divMestre" class="mestre">      
            <div class="ajuste">                
                <div class="ct-esquerdo">    
                    <div class="campos" v-bind:class="{ formdark: dark }">
                        <input type="text" placeholder="Nome" v-model="nome"></br>    
                        <input type="text" placeholder="Faculdade" v-model="faculdade"></br>             
                        <input type="text" placeholder="Curso" v-model="curso"></br>             
                        <input type="text" placeholder="CPF" v-model="cpf"></br>             
                        <input type="text" placeholder="RG" v-model="rg"></br>             
                        <input type="text" placeholder="Data de nascimento" v-model="dataNascimento"></br>  
                        <select name="generos" id="generos" v-model="genero">      
                            <option value="" selected disabled>Selecione</option>                      
                            <option value="Masculino">Masculino</option>
                            <option value="Feminino">Feminino</option>
                        </select></br>
                        <div class="btn-check">
                            <button v-on:click="LimparCampos()">Limpar</button>
                            <input id="checkDark" type="checkbox" v-model="dark" />
                            <label for="checkDark" style="color: white;" >Modo Dark</label>
                        </div>                        
                    </div>                                              
                </div>
            </div>
            <div class="ct-direito">
                <div class="pt-superior">
                    <img src="./avatar.png">
                </div>
                <div class="pt-inferior" v-bind:class="{ docdark: dark }">
                    <div class="detalhes">
                        <p><b>Nome : </b></p>
                        <p>{{nome}}</p>
                        <p><b>Faculdade: </b></p>
                        <p>{{faculdade}}</p>
                        <p><b>Curso:</b></p>
                        <p>{{curso}}</p>
                        <p><b>CPF : </b></p>
                        <p>{{cpf}}</p>
                        <p><b>RG: </b></p>
                        <p>{{rg}}</p>
                        <p><b>Data de nascimento:</b></p>
                        <p>{{dataNascimento}}</p>
                        <p><b>Gênero:</b></p>
                        <p>{{genero}}</p>
                    </div>
                </div>
            </div>
        </div>  
        <script src="script.js"></script>
    </body>
</html>